# Ignore virtual environment
venv/
paper/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore local environment file (we will pass secrets securely)
.env

# Ignore git files
.git
.gitignore
